{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
<body class="d-flex h-100 text-center text-bg-white">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Blog-page.</h1>
    <p class="lead">Here you can share your feelings by articles and post it on this website. I hope it will be fun!</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-black bg-black">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-black-50">
    <p>Blog</a> by <a href="https://vk.com/konamityan" class="text-black">@konamityan</a>.</p>
  </footer>
</div>





</body>
</div>
{% endblock %}