{%  extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все статьи на сайте</h1>

    {% if posts|length > 0 %}
        {% for elem in posts %}
        <div class="alert alert-info">
            <h2>{{ elem.title }}</h2>
            <p>{{ elem.intro }}</p>
            <p><b>{{ elem.date.date() }}</b></p>
            <a href="/posts/{{ elem.id }}" class="btn btn-warning">Открыть полностью</a>
        </div>
        {% endfor %}
    {% else %}
        <p>На данный момент в блоге нет статей.</p>
    {% endif %}

</div>
{% endblock%}